In [1]:
import json
import pandas as pd
import requests
import re
import itertools

In [ ]:
#Табличка со всеми компаниями которые есть

In [2]:
i=0
total = []
for i in range(0, 301, 100):
    if i<=300:
        t = 'https://iss.moex.com/iss/history/engines/stock/markets/shares/boardgroups/57/securities.jsonp?lang=ru&security_collection=3&date=2016-06-07&start=' + str(i) + '&iss.meta=off&iss.json=extended&callback=angular.callbacks._g&sort_column=VALUE&sort_order=desc&limit=100&_=1557332537830'
        page = requests.get(t).content.decode('utf-8')
        page = re.sub('\n', '', page)
        page2 = page[57:]
        page4 = re.sub('..history.cursor.*', '', page2)+'}'
        total.append(pd.DataFrame(json.loads(page4)['history']))
    else:
        break

In [3]:
result = pd.concat(total)

In [11]:
result

,BOARDID,TRADEDATE,SHORTNAME,SECID,NUMTRADES,VALUE,OPEN,LOW,HIGH,LEGALCLOSEPRICE,WAPRICE,CLOSE,VOLUME,MARKETPRICE2,MARKETPRICE3,ADMITTEDQUOTE,MP2VALTRD,MARKETPRICE3TRADESVALUE,ADMITTEDVALUE,WAVAL
0,TQBR,2016-06-07,Сбербанк,SBER,84547,1.395805e+10,134.5,134.02,139.97,139.97,137.72,139.97,101205300,137.92,137.92,139.97,1.395805e+10,1.395805e+10,1.395805e+10,None
1,TQBR,2016-06-07,ГАЗПРОМ ао,GAZP,30632,3.711246e+09,146.43,146,148.9,147.75,147.67,147.75,25129620,147.68,147.68,147.75,3.711246e+09,3.711246e+09,3.711246e+09,None
2,TQBR,2016-06-07,ЛУКОЙЛ,LKOH,21170,3.317377e+09,2622,2617,2692,2681.50,2661,2681.5,1246032,2662.5,2662.50,2681.50,3.317377e+09,3.317377e+09,3.317377e+09,None
3,TQBR,2016-06-07,Роснефть,ROSN,16937,2.169942e+09,325,321.55,329.9,328.85,326.5,328.85,6646520,326.5,326.50,328.85,2.169942e+09,2.169942e+09,2.169942e+09,None
4,TQBR,2016-06-07,Сбербанк-п,SBERP,18086,1.994213e+09,92.02,91.92,97.49,97.21,95.49,97.21,20885000,95.49,95.49,97.21,1.994213e+09,1.994213e+09,1.994213e+09,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15,TQIF,2016-06-07,ИСУ-КП,RU000A0JUHS0,0,0.000000e+00,None,None,None,855.00,None,None,0,None,NaN,855.00,0.000000e+00,0.000000e+00,0.000000e+00,None
16,TQIF,2016-06-07,ИСУ-ПН,RU000A0JUQZ6,0,0.000000e+00,None,None,None,54000.00,None,None,0,None,NaN,54000.00,0.000000e+00,0.000000e+00,0.000000e+00,None
17,TQIF,2016-06-07,ИСУ-3 ГФТ,RU000A0JUW49,0,0.000000e+00,None,None,None,3195.00,None,None,0,None,NaN,3195.00,0.000000e+00,0.000000e+00,0.000000e+00,None
18,TQIF,2016-06-07,ИСУ ГК-3,RU000A0JVEZ0,0,0.000000e+00,None,None,None,7960.00,None,None,0,None,7780.00,7960.00,0.000000e+00,3.748755e+06,0.000000e+00,None
19,TQIF,2016-06-07,ИСУ ЕФГ-3,RU000A0JVT35,0,0.000000e+00,None,None,None,380.25,None,None,0,None,NaN,380.25,0.000000e+00,0.000000e+00,0.000000e+00,None

In [10]:
len(result.SHORTNAME.unique())

320

In [6]:
result.to_excel("Stock_companies.xlsx", sheet_name='Sheet_name_1')

In [ ]:
#Табличка с выбранными компаниями

In [12]:
tickers = ['UNAC', 'ROSN', 'VTBR', 'TRNFP', 'SIBN', 'SBER', 'NVTK', 'GAZP', 'LKOH', 'MSTT', 'SNGS', 'CBOM', 'MMBM', 'ROSB', 'BSPB', 
'LSRG', 'RKKE', 'TATN', 'BANE', 'RNFT', 'MFGS', 'VJGZ', 'YAKG', 'KRKN']

In [13]:
companies = []
for k in tickers:
    for l in range(0, 1301, 100):
        link = 'https://iss.moex.com/iss/history/engines/stock/markets/shares/boardgroups/57/securities/' + str(k) + '.jsonp?lang=ru&from=2014-01-01&till=2019-05-10&start=' + str(l) + '&iss.meta=off&iss.json=extended&callback=angular.callbacks._9&sort_order=TRADEDATE&sort_order_desc=desc&limit=100&_=1557839939152'
        table = requests.get(link).content.decode('utf-8')
        table = re.sub('\n', '', table)
        table2 = table[57:]
        table4 = re.sub('..history.cursor.*', '', table2)+'}'
        companies.append(pd.DataFrame(json.loads(table4)['history']))

In [14]:
len(companies)

336

In [15]:
result_total_companies = pd.concat(companies)

In [16]:
result_total_companies

,BOARDID,TRADEDATE,SHORTNAME,SECID,NUMTRADES,VALUE,OPEN,LOW,HIGH,LEGALCLOSEPRICE,WAPRICE,CLOSE,VOLUME,MARKETPRICE2,MARKETPRICE3,ADMITTEDQUOTE,MP2VALTRD,MARKETPRICE3TRADESVALUE,ADMITTEDVALUE,WAVAL
0,TQBR,2019-05-10,iАвиастКао,UNAC,20,1041305.0,0.679,0.671,0.6835,0.6820,0.672,0.682,1550000,0.672,0.6720,0.682,1041305.0,1041305.0,1041305.0,None
1,TQBR,2019-05-08,iАвиастКао,UNAC,45,904115.0,0.689,0.671,0.689,0.6785,0.6745,0.6785,1340000,0.6745,0.6745,0.6785,904115.0,904115.0,904115.0,None
2,TQBR,2019-05-07,iАвиастКао,UNAC,66,1454015.0,0.6985,0.675,0.6985,0.6800,0.6795,0.68,2140000,0.6795,0.6795,0.68,1454015.0,1454015.0,1454015.0,None
3,TQBR,2019-05-06,iАвиастКао,UNAC,29,808195.0,0.6605,0.6605,0.7045,0.6930,0.691,0.693,1170000,0.691,0.6910,0.693,808195.0,808195.0,808195.0,None
4,TQBR,2019-05-03,iАвиастКао,UNAC,30,583405.0,0.7025,0.692,0.7075,0.6935,0.703,0.6935,830000,0.703,0.7030,0.6935,583405.0,583405.0,583405.0,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41,TQNE,2014-01-13,СаратНПЗ,KRKN,1,90000.0,9000,9000,9000,9000.0000,9000,9000,10,9311,9491.0000,9311,2169428.0,1214853.0,2169428.0,None
42,TQNE,2014-01-10,СаратНПЗ,KRKN,0,0.0,NaN,NaN,NaN,9800.0000,NaN,NaN,0,9325,9529.0000,9325,2079428.0,1267353.0,2079428.0,None
43,TQNE,2014-01-09,СаратНПЗ,KRKN,0,0.0,NaN,NaN,NaN,9800.0000,NaN,NaN,0,9086,9529.0000,9086,2698628.0,1267353.0,2698628.0,None
44,TQNE,2014-01-08,СаратНПЗ,KRKN,0,0.0,NaN,NaN,NaN,9800.0000,NaN,NaN,0,9479,9529.0000,9479,1450353.0,1267353.0,1450353.0,None
45,TQNE,2014-01-06,СаратНПЗ,KRKN,0,0.0,NaN,NaN,NaN,9800.0000,NaN,NaN,0,9479,9529.0000,9479,1450353.0,1267353.0,1450353.0,None

In [22]:
result_total_companies.SHORTNAME.unique()
#len(result_total_companies.SHORTNAME.unique())

array(['iАвиастКао', 'Роснефть', 'ВТБ ао', 'Транснф ап', 'Газпрнефть',
       'Сбербанк', 'Новатэк ао', 'ГАЗПРОМ ао', 'ЛУКОЙЛ', 'Мостотрест',
       'Сургнфгз', 'МКБ ао', 'БМ-Банк', 'Росбанк ао', 'БСП ао', 'ЛСР ао',
       'ЭнергияРКК', 'Татнфт 3ао', 'Башнефт ао', 'РуссНфт ао',
       'Мегион-ао', 'Варьеган', 'ЯТЭК ао', 'СаратНПЗ'], dtype=object)

In [41]:
result_total_companies.to_excel("Stock__all_companies2.xlsx", sheet_name='Sheet_name_1')